* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: #001F3F;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

[data-aos] {
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  body, html {
    overflow-x: hidden;
  }

  .container {
    width: 50%;
    max-width: 100vw;
    padding: 0 15px;
  }
}